body {
    font-family: 'Quicksand', sans-serif;
    background-image: url(../images/background.jpg);
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

h1 {
    color: #BBC7A4;
    background-color: #2C363F;
    height: 1.5em;
    text-align: center;
    letter-spacing: .2em;
    padding-top: .1em;
}

.container {
    background-color: gainsboro;
    width: 50%;
    height: 100%;
    margin-top: 5em;
    margin-left: 3.5em;
    border-radius: 10px;
}

div {
    background-color: gainsboro;
}


#startBtn {
    text-align: center;
    font-size: 2em;
    justify-content: center;
    margin-top: 2em;
    width: 50%;
    border-radius: 10px; 
    margin-left: 25%;
    margin-bottom: 2em;
    color: #BBC7A4;
    background-color: #2C363F;
}

.card {
    text-align: center;
}

.question {
    font-size: 22px;
    font-weight: 900;
    color: purple;
}

.thisChoice {
    font-size: 18px;
    margin: .3em;
    background-color: silver;
    border-radius: 20px;
}

.thisChoice:hover {
    color: #BBC7A4;
    background-color: #2C363F;
    font-weight: bold;
    
}

#message {
    font-size: 24px;
}

#finalMessage {
    font-size: 24px;
}

#startOverBtn {
    font-size: 24px;
}

#startOverBtn:hover {
    color: #BBC7A4;
    background-color: #2C363F;
    font-weight: bold;
    border-radius: 4px;

}
